= simple_form_for (@patient) do |f|
  .form-inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :birth, as: :date
    = f.input :status, collection: Patient::STATUS.map{|x| [x[1], x[0]]}, include_blank: false
    = f.collection_radio_buttons :gender, [["Male", '1'] ,["Female", '2']], :first, :last, { item_wrapper_tag: false } do |b|
      = b.label(:class => 'btn btn-primary span3'){ b.radio_button + b.text }
    = f.button :submit, :class=>"btn btn-default"





