%p#notice= notice
%h1 患者列表

%table.table.table-striped
  %thead
    %tr
      %th= Patient.human_attribute_name(:medical_record_num)
      %th= Patient.human_attribute_name(:fullname)
      %th= Patient.human_attribute_name(:age)
      %th= Patient.human_attribute_name(:gender)
      %th= Patient.human_attribute_name(:status)
      %th= Patient.human_attribute_name(:location)
  %tbody
    - @patients.each do |patient|
      %tr
        %td= "MR#{patient.id}"
        %td= patient.first_name+" "+patient.middle_name+" "+patient.last_name
        %td= DateTime.now.strftime('%Y').to_i-patient.birth.strftime('%Y').to_i
        %td= patient.gender
        %td= patient.status_name
        %td= patient.location
        %th
          = link_to '详情', patient, class: 'btn btn-info'
          = link_to '更新', edit_patient_path(patient), class: 'btn btn-success'
          = link_to '删除', patient, method: :delete, data: { confirm: '确定删除?' }, class: 'btn btn-danger'

%br
.row-fluid
  = link_to '新建', new_patient_path

  = link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN"
  = link_to "English", :controller => controller_name, :action => action_name, :locale => "en"


