%p#notice= notice
%p
  %strong= Patient.human_attribute_name(:medical_record_num) + ':'
  = @patient.medical_record_num
%p
  %strong= Patient.human_attribute_name(:first_name) + ':'
  = @patient.first_name
%p
  %strong= Patient.human_attribute_name(:middle_name) + ':'
  = @patient.middle_name
%p
  %strong= Patient.human_attribute_name(:last_name) + ':'
  = @patient.last_name
%p
  %strong= Patient.human_attribute_name(:birth) + ':'
  = @patient.birth.strftime('%Y-%m-%d')
%p
  %strong= Patient.human_attribute_name(:gender) + ':'
  = @patient.gender
%p
  %strong= Patient.human_attribute_name(:status) + ':'
  = @patient.status_name
%p
  %strong= Patient.human_attribute_name(:location) + ':'
  = @patient.location
%p
  %strong= Patient.human_attribute_name(:viewed_count) + ':'
  = @patient.viewed_count
= link_to 'Edit', edit_patient_path(@patient)
|
= link_to 'Back', patients_path
