%p#notice= notice

%p
  %b Patient:
  = @location.patient_id
%p
  %b Code:
  = @location.code
%p
  %b Name:
  = @location.name

= link_to '编辑', edit_patient_location_path(@location)
\|
= link_to '返回', patient_locations_path(@patient,@location)
